
experiments/*/*/
DTI_0*/
*_old.py
testfiles/
test*

# Ignore system files
.DS_Store
__pycache__

# Ignore bash scripts
*.sh

# Ignore log files
*.log

# Ignore Node.js modules
node_modules/

# Ignore Python virtual environments
venv/

# Ignore database files
db.sqlite

# Ignore editor-specific files
.vscode/