# Ignore all folders with data
experiments/
PDBbind/
PDBbind_preprocessed/
PDBbind_dataset_filtering/
PDBbind_search_algorithms/

attention_weights/
PDBbind_splits/
TMalign/
PDBbind0/
pafnucy_data/
stuff/

PDBbind_v2016/
PDBbind_v2020/
visualization/
huggingface/
bash_scripts/
benchmark_dataloaders*
old_models/

aggregate_results.py
clustering/
inference_test*/
find_clusters/
find_clusters_lorenzo/
find_most_similar*/

*pairwise_similarity*
*similarities*
matrix_inspect.ipynb
logs/


# Ignore system files
.DS_Store
__pycache__

# Ignore bash scripts
*.sh

# Ignore log files
*.log

# Ignore Node.js modules
node_modules/

# Ignore Python virtual environments
venv/

# Ignore database files
db.sqlite

# Ignore editor-specific files
.vscode/

# Other
tmp/
*.fasta
*.csv
*.tsv
*.h5
*.npy
