# Extensions
*.sh
*slurm*
tmp/
*.fasta
*.csv
*.tsv
*.h5
*.npy
*old*/
*.ipynb
*.pkl*
*.tar.gz

# Ignore log files
*.log
*.err
*.txt
*.out

# Ignore all folders with data
experiments/
PDBbind/
PDBbind_preprocessed/
CASF2016*/
OOD_PIG_dataset/
diffusion_ood_splits/
PDBbind_splits/
pairwise_similarity_matrices/*
pafnucy_data/
GEMS_pytorch_datasets/
clustering/
test_extract*

# Ignore specific scripts and data processing files
PDBbind_data/similarity/pairwise_similarity_matrix/matrix_merge.py
PDBbind_data/similarity/pairwise_similarity_matrix/matrix_extract_to_json.py
visualization/
aggregate_results.py

# Ignore script outputs
PDBbind_search_algorithm/*/*.png
PDBbind_search_algorithm/*/*.json
PDBbind_dataset_filtering/*.json

# Ignore system files
.DS_Store
__pycache__

# Ignore database files
db.sqlite

# Ignore editor-specific files
.vscode/

TMalign/
stuff/
huggingface/
bash_scripts/
benchmark_dataloaders/
